.git
.env
.env.*
!.env.example
!.env.production.example
vendor
tests
screenshots
database
*.md
*.zip
writable/edge-*
writable/cache/*
writable/debugbar/*
writable/logs/*
writable/session/*
writable/uploads/*
public/uploads/avatars/*
!public/uploads/avatars/.gitignore
