CI_ENVIRONMENT = production
app.baseURL = 'https://your-tfa3-host.example/'

database.default.hostname = your_database_host
database.default.database = your_tfa3_database
database.default.username = your_database_user
database.default.password = your_database_password
database.default.DBDriver = MySQLi
database.default.port = 3306
